/* ---- GLOBALS // GLOBALS // GLOBALS ---- */

* {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  text-align: center;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(270deg, rgb(36, 0, 41), rgb(30, 0, 70));
  background-size: 200% 200%;
  animation: gradient-animation 9s ease infinite;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: center;
}

.shadow {
  -webkit-box-shadow: 0px 0px 127px 33px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 127px 33px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 127px 33px rgba(0, 0, 0, 0.75);
}

.shadowInset {
  -webkit-box-shadow: inset -9px 11px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -9px 11px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset -9px 11px 16px 0px rgba(0, 0, 0, 0.75);
}

/* ---- GLOBALS // GLOBALS // GLOBALS ---- */

/* ---- BACKGROUND // BACKGROUND // BACKGROUND ---- */

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ---- BACKGROUND // BACKGROUND // BACKGROUND ---- */

/* ////////////////////////////////////// */

/* ---- HEADER // HEADER // HEADER ---- */

#header {
  z-index: 2;
  max-height: 7vh;
}

#headerContainer {
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 100vw;
  height: 7vh;
  justify-content: center;
}

#header::before {
  content: "";
  position: absolute;
  top: 7vh;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

#headerText {
  display: flex;
  align-items: center;
  color: white;
  font-size: 75%;
}

#headerText .span1 {
  font-weight: 400;
  text-transform: lowercase;
  color: rgb(255, 255, 255);
  user-select: none;
  font-size: 100%;
  animation: glow 5s ease-out infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0px 0px 15px #ffffff;
  }
  25% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0px 0px 15px #ffffff;
  }
  75% {
    text-shadow: none;
  }
  99.9999% {
    text-shadow: 0px 0px 15px #ffffff;
  }
}

/* ---- HEADER // HEADER // HEADER ---- */

/* ////////////////////////////////////// */

/* ---- CARD // CARD // CARD ---- */

#presentation {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cardContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
}

#card {
  width: 55vw;
  /* height: 77vh; */
  background-color: #202020;
  border-radius: 12px;
  border: 3px solid rgb(255, 255, 255);
  padding: 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden;
  flex-wrap: nowrap;
}

#main {
  display: flex;
  width: 80vw;
  height: 85vh;
  flex-direction: row;
  padding: 1rem 0rem 7rem;
  z-index: 2;
  justify-content: space-evenly;
  align-items: center;
}

#image {
  width: 55vh;
  height: 55vh;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0rem 3rem 0rem 0rem;
  justify-self: start;
  -webkit-transition: all 500ms ease-in-out;
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg)
    skewY(0deg);
  border: 3px solid rgba(0, 255, 21, 0);
  opacity: 1;
}

#main h1 {
  text-align: left !important;
  color: rgb(255, 255, 255);
}

#main p {
  text-align: left !important;
}

#name {
  font-size: 150%;
}

#name h1 {
  color: rgb(0, 255, 13);
  -webkit-animation-delay: 10s;
}

#console {
  background-color: rgb(10, 10, 10);
  padding: 0rem 1rem 0rem;
  /*   height: 10rem; */
  border-radius: 12px;
  border: 3px solid rgb(138, 138, 138);
  -webkit-box-shadow: inset -9px 11px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset -9px 11px 16px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#console::before {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  content: "Administrator: Command Prompt";
  display: flex;
  flex: row;
  text-align: left;
  background-color: rgb(49, 49, 49);
  padding: 0.5vh 0px 1vh 10vh;
  color: rgb(255, 255, 255);
  width: 110%;
  align-self: center;
}

#console::after {
  content: "- | □ | X";
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  position: absolute;
  justify-self: center;
  align-self: flex-end;
  width: 8rem;
  margin: 0rem -1rem 0rem 0rem;
  padding: 0.21rem 0rem 0.21rem 0rem;
  border-radius: 0 10px 0px 0;
  cursor: pointer;
}

#projects_grid {
  /* background-color: rgb(56, 56, 56); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#projects_grid p {
  text-align: center !important;
}

.grid-test {
  grid-area: 4 / 2 / 1 / 4;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

#imggrid {
}

#card h1 {
  font-size: 150%;
  font-size: 1rem;
  text-align: center;
  margin: 1.3rem 0 1rem 0;
}

#card::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 33vw;
  height: 31vh;
}

@keyframes glow2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  99.9999% {
    opacity: 1;
  }
}

#socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem 1rem;
  position: relative;
}

#socialMedia li {
  font-size: 100%;
  text-decoration: none;
  list-style-type: none;
  padding: 1rem 1rem;
  color: rgb(114, 114, 114);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#span {
  color: rgb(0, 255, 13);
}

.glow1 {
  animation: glow 6s ease-out infinite;
  animation-delay: 2s;
}

.glow2 {
  animation: glow 6s ease-out infinite;
}

#socialMedia li:hover {
  color: rgb(255, 255, 255) !important;
}

#socialMedia li:hover .link {
  color: rgb(0, 255, 13);
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: rgb(114, 114, 114);
  height: 1rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#card p {
  font-size: 0.85rem;
  cursor: text;
  z-index: 2;
  color: rgb(184, 184, 184);
  text-align: left;
}

#card::after {
  content: "";
  width: 30vw;
  height: 12.5vw;
  position: absolute;
}

/* ---- CARD // CARD // CARD ---- */

/* ////////////////////////////////////// */

/* ---- CONTENT // CONTENT // CONTENT ---- */

#content_title {
  color: white;
  text-transform: lowercase;
}

/* ---- CONTENT // CONTENT // CONTENT ---- */

/* ////////////////////////////////////// */

/* ---- FOOTER // FOOTER // FOOTER ---- */

#footer {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: default;
  align-self: flex-end;
  justify-self: flex-end;
}

#footer::before {
  content: "";
  width: 100%;
  height: 3px;
  align-self: flex-start;
  background-color: rgb(255, 255, 255);
  position: absolute;
}

#footContainer h1 {
  font-size: 120%;
}

/* ---- FOOTER // FOOTER // FOOTER ---- */
